//- Main area
v-flex(style="height:90%;")
  v-tabs(
    pagination
    dark 
    color="secondary"
    v-model="active"
  )

    //- First tab is for displaying requirements
    //- associated with selected node
    v-tab Req
    span(v-if="!isEdit")
      v-btn(
        flat 
        icon
        @click="expandRequirements"
      )
        v-icon unfold_more
    v-tab-item

      //- Menu attached to outer container
      v-flex(
        @contextmenu="show"
      )

        //- Table is scoped to component slot
        dataTable(
          :headers="headers",
          :items="items"
        )  
          template(slot-scope="table")
            tr(
              :class="{table, move : isEdit, selected: table.item.id === id, heading: table.item.requirement === 'Heading' }"
              :draggable="isEdit"
              :id="table.item.description"
              @change="selectRequirement(table.item)"
              @click="selectRequirement(table.item)"
              @dragover.prevent="draggingOver($event)"
              @dragstart="dragStarted(table.item, $event)"
              @drop="dropped(table.item, $event)"
            )

              //- Enumerate rows in table
              td.node-order {{ table.item.nodeOrder }}
              
              //- Show description
              td
                v-textarea(
                  :readonly="!isEdit"
                  auto-grow
                  class="field"
                  hide-details
                  rows="1"
                  type="text"
                  v-model="table.item.description"
                )

              //- Show requirement
              td
                a(
                  v-if="(table.item.description=='SPEC' || table.item.description=='PROC') && !isEdit ? true : false"
                  @click="openTab(table.item.requirement)"
                ) {{ table.item.requirement }}
                v-textarea(
                  v-else
                  :readonly="!isEdit"
                  auto-grow
                  class="field"
                  hide-details
                  rows="1" 
                  type="text"
                  v-model="table.item.requirement"
                )

        //- Menu structure
        //- Attach to v-flex container
        contextMenu(
          :menuEvents="menuEvents"
          :menuItems="menuItems"
        )

    //- The other tabs are loaded dynamically for viewing documents
    v-tab(
      :key="index"
      v-for="(tab, index) in tabs"
    )

      span {{ tab.title }}
    
    //- View documents (pdf) in iframe element
    v-tab-item(
      :key="index"
      style="height: 100%;"
      v-for="(tab, index) in tabs"
    )
      div(v-if="tab.url" style="height: 100%;")
        iframe(:src="tab.url+'#zoom=150&page=1'" width="100%" style="height:100%;")